{% extends "base.html" %}
{% block styles %}
{% endblock %}
{% block content %}
    <main class="main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 main-header">
                    <h1>Клиенты компании</h1>
                </div>
                <div class="col-lg-4 text-center main-content">
                    <div class="main-content-block">
                        <img src="{{url_for('static', filename='img/MegaFon_logo 3.svg')}}" alt="1">
                        <p>Товарищи! сложившаяся структура <br> организации требуют определения <br> и уточнения соответствующий <br> условий активизации. С другой <br> стороны укрепление и развитие <br> структуры обеспечивает широкому <br> кругу (специалистов) участие в <br> формировании систем массового <br> участия. Равным образом <br> дальнейшее развитие различных <br> форм деятельности требуют от нас <br> анализа соответствующий условий <br> активизации.</p>
                        <button>Благодарности</button>
                        <button>Проекты</button>
                    </div>
                    <!-- /.wrap-block -->
                </div>
                <div class="col-lg-4 text-center main-content">
                    <div class="main-content-block">
                        <img src="{{url_for('static', filename='img/MegaFon_logo 3.svg')}}" alt="1">
                        <p>Товарищи! сложившаяся структура <br> организации требуют определения <br> и уточнения соответствующий <br> условий активизации. С другой <br> стороны укрепление и развитие <br> структуры обеспечивает широкому <br> кругу (специалистов) участие в <br> формировании систем массового <br> участия. Равным образом <br> дальнейшее развитие различных <br> форм деятельности требуют от нас <br> анализа соответствующий условий <br> активизации.</p>
                        <button>Благодарности</button>
                        <button>Проекты</button>
                    </div>
                    <!-- /.wrap-block -->
                </div>
                <!-- /.col-lg-4 text-center -->
                <div class="col-lg-4 text-center main-content">
                    <div class="main-content-block">
                        <img src="{{url_for('static', filename='img/MegaFon_logo 3.svg')}}" alt="1">
                        <p>Товарищи! сложившаяся структура <br> организации требуют определения <br> и уточнения соответствующий <br> условий активизации. С другой <br> стороны укрепление и развитие <br> структуры обеспечивает широкому <br> кругу (специалистов) участие в <br> формировании систем массового <br> участия. Равным образом <br> дальнейшее развитие различных <br> форм деятельности требуют от нас <br> анализа соответствующий условий <br> активизации.</p>
                        <button>Благодарности</button>
                        <button>Проекты</button>
                    </div>
                    <!-- /.wrap-block -->
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </main>
    <!-- /.main -->
{% endblock %}
</body>
</html>