<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-video@latest/dist/css/splide-extension-video.min.css">
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.min.js"></script>
	<link rel="stylesheet" href="{{url_for('static', filename='styles/indexstyle.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/index2.css') }}">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
	<div class="overlay">
		<div class="widget">
			<div class="widget__header">
				<i class="fa fa-times-circle close__button"></i>
			</div>
			<div class="widget__content">
			</div>
		</div>
	</div>
	<div class="page__header">
		<header>
			<div class="container">
				<div class="logo"><a href="/"><img src="{{url_for('static', filename='img/logo.svg')}}" alt=""></a></div>
				<div class="links">
					<a href="about">О компании</a>
					<a href="services">Услуги</a>
					<a href="reviews">Отзывы</a>
					<a href="#">Проекты</a>
					<a href="clients">Клиенты</a>
					<a href="#">Контакты</a>
				</div>
			</div>
		</header>
		<div class="img">
			<div class="splide">
	<div class="splide__track">
		<ul class="splide__list">
			<li class="splide__slide" data-splide-html-video="{{url_for('static', filename='video/videoplayback.mp4')}}" style="width: 100vw;">
				<div class="splide__content">
				</div>
				<img src="https://global-uploads.webflow.com/5ef5480befd392489dacf544/5f9f5e5943de7e69a1339242_5f44a7398c0cdf460857e744_img-image.jpeg" alt=""></li>
			<!-- <li class="splide__slide" data-splide-youtube="https://www.youtube.com/embed/EY8LMYT4QyY"><img src="https://global-uploads.webflow.com/5ef5480befd392489dacf544/5f9f5e5943de7e69a1339242_5f44a7398c0cdf460857e744_img-image.jpeg" alt=""></li> -->
		</ul>
	</div>
</div>
		</div>
	</div>
	<main class="main">
        <div class="container">
            <div class="row serfrsokvm">
                <div class="col-lg-12 main-header">
                    <h1>О компании</h1>
                </div>
                <div class="col-lg-6">
                    <p class="ebal">«Xoxloma» с 2011 года организует мероприятия различной направленности для частных и корпоративных клиентов Уральского федерального округа. Компания имеет успешный опыт проведения праздничных и торжественных событий, спортивных соревнований, квестов в реальности, корпоративов, мероприятий в сфере маркетинга и бизнеса</p>
                    <div class="row">
                        <div class="col">
                            <img src="./img/smi.svg" alt="">
                        </div>
                        <div class="col">
                            <img src="./img/orders.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="ml-auto col-auto d-grid">
                    <img class="aegaefimg" src="./img/logo2.svg">
                </div>
            </div>

            <div class="row kewuhcwekbhc">
                <div class="col-lg-12 main-header">
                    <h1>Услуги</h1>
                </div>
                <div id="carouselExampleFade" class="w-100 carousel slide carousel-fade" data-ride="carousel">

                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-5">
                                    <img class="d-block w-100" src="{{ url_for('static', filename='img/index/imaeg.svg') }}" alt="">
                                </div>
                                <div class="col-2"></div>
                                <div class="awef col-5">
                                    <img class="d-block w-100" src="{{ url_for('static', filename='img/index/imafgea.svg') }}" alt="">

                                    <div class="buttons-aefcaef">
                                        <a href="#" class="button-msevins">Больше услуг</a>
                                        <a href="#" class="button-msevins"><img src="{{ url_for('static', filename='img/index/aeaef.svg') }}" class="fas aport fa-calendar-alt"></img>Календарь событий</a>
                                        <a href="#" class="button-msevins"><img src="{{ url_for('static', filename='img/index/aefaefrsvrew.svg') }}" class="fas aport fa-calculator"></img>Калькулятор услуг</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-5">
                                    <img class="d-block w-100" src="{{ url_for('static', filename='img/index/imaeg.svg') }}" alt="">
                                </div>
                                <div class="col-2"></div>
                                <div class="col-5">
                                    <img class="d-block w-100" src="{{ url_for('static', filename='img/index/imafgea.svg') }}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    $('.carousel').carousel({
                        interval: 2000
                    })
                </script>
            </div>

            <div class="row kewuwedeefaehc">
                <div class="col-lg-12 adlgviearh">
                    <h1>Наши партнеры</h1>
                </div>
                <div class="col-12">
                    <div class="lrnfljern">
                        <div class="srf">
                            <div class="logoaefae">
                                <img src="{{ url_for('static', filename='img/index/serkgmsr.svg') }}" alt="" class="swvrjnerwov">
                            </div>
                            <div class="lrjvnb">Здесь должен быть слайдер с отзывами от партнеров</div>
                        </div>
                    </div>

                    <script>
                        $('.lrnfljern').slick({
                            dots: false,
                            infinite: true,
                            speed: 300,
                            slidesToShow: 1,
                            centerMode: true,
                            variableWidth: true
                        });
                    </script>
                </div>
                <div class="coekif col-12">
                    <div class="row aefkrsuh">
                        <div class="col-auto">
                            <a href="#" class="laemfojr">Все отзывы партнеров</a>
                        </div>
                        <div class="losefijsofn col-auto ml-auto">
                            Вкратце они в восторге
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </main>
    <!-- /.main -->
	<footer>
		<div class="container">
			<div class="left">
				<div class="footer__elem"><i class="fas fa-phone-alt"></i> 8-904-491-50-18</div>
				<div class="footer__elem"><i class="fas fa-envelope"></i> XOXLOMA-EP@MAIL.RU</div>
				<div class="footer__elem"><i class="fas fa-compass"></i> Пароходская 4</div>
			</div>
			<div class="right">
				<a href="#">О компании</a>
				<a href="services">Услуги</a>
				<a href="#">Отзывы</a>
				<a href="#">Проекты</a>
				<a href="#">Клиенты</a>
				<a href="#">Контакты</a>
			</div>
		</div>
	</footer>
	<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-video@latest/dist/js/splide-extension-video.min.js"></script>
	<script>
		let costs = [0, 0, 0]
		let calcData = {name: 'Проведение дня рождения', startPrice: 200, fixedHeight: "8rem", time: {min: 2, max: 12, cost: 200}, area: {'Площадь 1': 200, 'Площадь 2': 300, 'Площадь 3': 300}, people: {min: 5, max: 40, cost: 20}}
		new Splide( '.splide', {type: 'fade', video: {autoplay: true, mute: true, autoHeight: true, autoWidth: true, disableOverlayUI: true, playerOptions: {youtube: {controls: 0}}, hideControls: true, loop: true}}).mount(window.splide.Extensions);
	</script>
	<script src="{{url_for('static', filename='script/calc.js')}}"></script>
	<script src="{{url_for('static', filename='script/script.js')}}"></script>
</body>
</html>