html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
:root {
  font-size: 10px;
  font-family: 'Montserrat';
}
.container {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}
.orange {
  color: #EC9632;
}
.header {
  background-color: #404040;
  padding: 2.5rem 0;
}
.header-navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header-navbar-menu-link {
  transition: 0.5s;
  margin-left: 3.8rem;
  font-size: 1.6rem;
  text-decoration: none;
  color: #fff;
}
.header-navbar-menu-link:hover {
  text-decoration: none;
  color: #EC9632;
}
.main {
  padding: 9rem 0;
}

.footer {
  background-color: #404040;
  padding: 4rem 0;
  display: flex;
  align-items: center;
}
.footer-contacts-info {
  margin: 1rem 0;
  display: flex;
  align-items: center;
}
.footer-contacts-info a {
  margin-left: 1rem;
  font-weight: 600;
  font-size: 1.4rem;
  color: #fff;
  text-decoration: none;
}
.footer .footer-info {
  text-align: right;
}
.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.footer-social-link span {
  font-weight: 600;
  font-size: 1.4rem;
  color: #fff;
}
.footer-social-link a {
  margin-left: 1rem;
}
.footer .line {
  margin: 2rem 27%;
  width: 73%;
  height: 0.3rem;
  background-color: #fff;
}
.footer .footer-link a {
  transition: 0.5s;
  font-size: 1.6rem;
  text-decoration: none;
  color: #fff;
}
.footer .footer-link a:hover {
  text-decoration: none;
  color: #EC9632;
}
.footer .footer-link a:nth-child(1) {
  margin-right: 2rem;
}
.footer .footer-link a:nth-child(2) {
  margin-right: 2rem;
}
.footer .footer-link a:nth-child(3) {
  margin-right: 2rem;
}
.footer .footer-link a:nth-child(4) {
  margin-right: 2rem;
}
.footer .footer-link a:nth-child(5) {
  margin-right: 2rem;
}


h1 {
  font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 44px;
/* identical to box height */


color: #525252;
margin-bottom: 21px;
}


p {
  font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;

color: #525252;

}


.aegaefimg {
  margin-top: 31px;
  justify-self: right;
}


.ebal {
  margin-bottom: 68px;
}

.serfrsokvm {
  margin-bottom: 162px;
}

.kewuhcwekbhc h1 {
  margin-bottom: 69px;
}

.kewuhcwekbhc {
  margin-bottom: 150px;
}

.carousel {
  min-height: 660px;
}

.aport {
  margin-right: 22px;
}

.button-msevins {
  padding: 20px 0;
  background: #EC9632;
  border-radius: 5px;
  font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #FFFFFF;
display: flex;
align-items: center;
max-width: 380px;
justify-content: center;
margin: auto;
margin-top: 41px;
}

.awef {
  display: grid;
  grid-template-rows: 1fr max-content;
}

.laemfojr {
  font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
text-decoration-line: underline;

color: #EC9632;

}

.losefijsofn {
  font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;

color: #525252;

}

.adlgviearh {
  margin-bottom: 61px;
}


.aefkrsuh {
  margin-top: 133px;
}

.srf {
  padding: 10px;
}

.lrjvnb {
  font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;

color: rgba(0, 0, 0, 0.5);
}

.page__header {
	height: 100vh;
}

.page__header .img {
	/*background-image: url('https://global-uploads.webflow.com/5ef5480befd392489dacf544/5f9f5e5943de7e69a1339242_5f44a7398c0cdf460857e744_img-image.jpeg');*/
	background-position: center;
	width: 100vw;
	height: 100vh;
}

header {
	width: 100vw;
	position: absolute;
	height: 100px;
	font-size: 14px;
	z-index: 1;
}

.page__header {
	z-index: 0;
	background-color: #000;
}

.splide__track {
	cursor: default;
}

.page__header .img {
	cursor: help;
	opacity: 0.5;
}

.img img {
	max-height: 100vh;
	text-align: center;
	vertical-align: center;
}

a {
	text-decoration: none;
	color: white;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 20px;
}

header .container {
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header .links {
	display: flex;
	justify-content: space-between;

}

body {
  overflow-x: hidden;
}

header .links a {
	margin: 0 15px;
	transition: 0.2s;
}

header .links a:hover {
	color: #ec4f32;
	transition: 0.2s;
}

.wrapper {
	min-height: 70vh;
}

.splide__video iframe, .splide__video video {
	min-height: 100%;
	min-width: 100%;
	height: auto;
}

.splide__content {
	padding: 0 70px;
	padding-top: 100px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	display: flex;
	align-items: center;
	flex-direction: column;
	color: #fff;
}

.splide,
.splide__track,
.splide__list,
.splide__slide {
	height: 100%;
}